body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  user-select: none;
  overflow: hidden;
}

.video-container {
  position: relative;
}

#video {
  width: 100vw;
  height: 85vh;
}

.timeline-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  height: 100px;
}

.horizontalLine {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 0;
}

.currentTimeLine {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: red;
  cursor: pointer !important;
  top: 0;
  left: 0;
  z-index: 4; 
}

.currentTimeLine,
.currentTimeDisplay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.currentTimeDisplay {
  padding-top: 5px;
  top: 0;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  z-index: 6;
}

.interval-marker {
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: white;
  left: 0;
  top: 38%;
  z-index: 2;
}

.interval-label {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 60%;
  transform: translateX(-50%);
  white-space: nowrap;
}
